body {
    margin: 0;
    text-align: center;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 10px 0;
}

#gameArea {
    width: 600px;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border: 4px solid white;
    background: black;
}

/* ROAD */
#road {
    width: 100%;
    height: 1400px;
    background: url("assets/images/road.png");
    background-size: cover;
    position: absolute;
    top: -700px;
}

/* PLAYER */
#playerCar {
    width: 80px;
    height: 140px;
    position: absolute;
    bottom: 20px;
    left: 260px;
}

/* FOOD */
.food {
    width: 60px;
    height: 60px;
    position: absolute;
}

/* ENEMY */
.enemy {
    width: 80px;
    height: 140px;
    position: absolute;
}

/* HUD */
#hud {
    font-size: 20px;
    margin-top: 10px;
}

.info {
    font-size: 14px;
    opacity: 0.8;
}
